1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades = ["Santa Fe", "Buenos Aires", "Río de Janeiro", "Montevideo","Asunción", " San Pablo"]
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'Montevideo', 'Asunción', ' San Pablo']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

Buenos Aires

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(ciudades[1:5])

['Buenos Aires', 'Río de Janeiro', 'Montevideo', 'Asunción']

4) Visualizar el tipo de dato de la lista

In [8]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [10]:
print(ciudades[2:])

['Río de Janeiro', 'Montevideo', 'Asunción', ' San Pablo']

6) Visualizar los primeros 4 elementos de la lista

In [12]:
print(ciudades[:4])

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'Montevideo']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [17]:
ciudades.append("Moscú")
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú']

In [18]:
ciudades.append("New York")
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'New York']

8) Agregar otra ciudad, pero en la cuarta posición

In [21]:
ciudades.insert(4, "New York")
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'New York']

9) Concatenar otra lista a la ya creada

In [22]:
lista1 = [1,2,3,4,5]
lista2 = [6,7,8,9,10]
lista3 = lista1 + lista2
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [23]:
print(ciudades[4])

New York

In [24]:
ciudades.index("Santa Fe")

0

In [25]:
ciudades.index("Moscú")

8


11) ¿Qué pasa si se busca un elemento que no existe?

In [26]:
ciudades.index("Los Angeles") # Error de elemento no exite en la lista

ValueError: 'Los Angeles' is not in list

12) Eliminar un elemento de la lista

In [27]:
ciudades.remove("New York")

In [28]:
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'New York']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [29]:
ciudades.remove("Los Angeles") # Error de elemento no exite en la lista

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [30]:
ultimo = ciudades.pop()
print(ultimo)
print(ciudades)

New York
['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú']


15) Mostrar la lista multiplicada por 4

In [31]:
print(ciudades * 4)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [32]:
numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(numeros)
print(type(numeros))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [37]:
print(numeros[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [43]:
print(20 in numeros)

True

In [44]:
print(30 in numeros)

False


19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [45]:
print("Paris" in ciudades)

False

In [47]:
elemento = "París"
if (not (elemento in ciudades)):
    ciudades.append(elemento)
    print(f"Se agregó el elemento {elemento}")
else:
    print(f"El elemento {elemento} ya existe")

El elemento París ya existe


20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [48]:
print(numeros.count(2))

1

In [50]:
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'París']

In [49]:
print(ciudades.count("New York"))

1


21) Convertir la tupla en una lista

In [51]:
num = [1,2,3,4,5]
print(num)
print(type(num))

[1, 2, 3, 4, 5]
<class 'list'>

In [52]:
num_tupla = tuple(num)
print(num_tupla)
print(type(num_tupla))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [53]:
mitupla = (7,8,9,10)
print(mitupla)
print(type(mitupla))

(7, 8, 9, 10)
<class 'tuple'>

In [54]:
milista = list(mitupla)
print(milista)
print(type(milista))

[7, 8, 9, 10]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [57]:
var1,var2,var3,_= mitupla
print(mitupla)
print(var1)
print(var2)
print(var3)

(7, 8, 9, 10)
7
8
9

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [58]:
print(ciudades)

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', ' San Pablo', 'Moscú', 'París']

In [60]:
dicc = {"ciudad": ["Santa Fe", "Buenos Aires", "Río de Janeiro", "New York", "Montevideo", "Asunción", "San Pablo", "Moscú", "París"], "País": ["Argentina", "Argentina", "Brasil", "EEUU", "Uruguay", "Paraguay","Brasil", "Rusia", "Francia"], "Continente": ["America", "America", "America", "America","America", "America", "America", "Asia", "Europa"]}
print(dicc)
print(type(dicc))

{'ciudad': ['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', 'San Pablo', 'Moscú', 'París'], 'País': ['Argentina', 'Argentina', 'Brasil', 'EEUU', 'Uruguay', 'Paraguay', 'Brasil', 'Rusia', 'Francia'], 'Continente': ['America', 'America', 'America', 'America', 'America', 'America', 'America', 'Asia', 'Europa']}
<class 'dict'>

24) Imprimir las claves del diccionario

In [61]:
print(dicc.keys())

dict_keys(['ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [69]:
print(dicc["ciudad"])

['Santa Fe', 'Buenos Aires', 'Río de Janeiro', 'New York', 'Montevideo', 'Asunción', 'San Pablo', 'Moscú', 'París']