1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 8

In [2]:
x

8

In [3]:
print(x)

8

In [4]:
print(type(x))

<class 'int'>

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
nombre = "Jacobo"

In [8]:
print(type(nombre))

<class 'str'>

5) Crear una variable que contenga un número complejo

In [10]:
complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [1]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [2]:
a = "True"
b = True

In [3]:
print(f"Las variables a {a} y b {b} son de distinto tipo de datos")

Las variables a True y b True son de distinto tipo de datos

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [4]:
print(f"Las variables a {a} y b {b} son de distinto tipo de datos")

Las variables a True y b True son de distinto tipo de datos

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
c = 5 + 6.85
print(c)

11.85

11) Realizar una operación de suma de números complejos

In [6]:
d = 6 + 7j
e = 6 + 8j

In [7]:
print(d+e)

(12+15j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
f = c + 5.6
print(f)

17.45

13) Realizar una operación de multiplicación

In [15]:
e = c*f
print(e)

206.7825

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
g = 2**8
print(g)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
a = 27//4
print(a)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
a = 27%4
print(a)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
b = 4 * 6 + 3
print(b)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
var1 = "Santa "
var2 = "Fe"
print(var1+var2)

Santa Fe

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [26]:
print("2" == 2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [27]:
int("2")

2

In [29]:
print(int("2") == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a = float(3,8) # arroja error porque se debe utiliza el punto para que sea decimal

TypeError: float expected at most 1 argument, got 2

In [33]:
a = float(3.8)
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [34]:
var3 = 5
var3 -= 1
print(var3)

4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [35]:
1<<2 # El número binario 1 se desplaza dos posiciones hacia la izquierda y se rellena con ceros a la derecha
# El número 1 en binario se representa como 0001
# Aplicamos el desplazamiento de dos posiciones hacia la izquierda a 0001, lo que resulta en 0100
# (1 * 2^2) + (0 * 2^1) + (1 * 2^0) = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [36]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
2 + int("2") # se convierte a entero

4

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
5 + "5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
str(5) + "5" # se convierte a string

'55'