## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [28]:
a = 10
print(a)

10

In [1]:
d = 15
print(d)

15

In [35]:
bool(15)

True

In [37]:
bool(b)

True

In [38]:
n = 0
bool(n)

False

In [39]:
bool("")

False

2) Imprimir el tipo de dato de la constante 8.5

In [27]:
type(8.5)

float

In [4]:
print(type(9.6))
print(type(20))
print(type("hola"))

<class 'float'>
<class 'int'>
<class 'str'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [26]:
type(a)

float

In [5]:
type(d)

int

4) Crear una variable que contenga tu nombre

In [25]:
my_name = "Jacobo Sebastian Regonat"

In [7]:
my_second_name = "Sebastian"
print(my_second_name)

Sebastian

5) Crear una variable que contenga un número complejo

In [3]:
n_complejo = 5 + 5j

In [1]:
n_comp = 10 + 10j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [4]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [22]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print("la variable 1 es de tipo", type(var1), "y la variable 2 es de tipo", type(var2))

la variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
a = 5.4 + 4

11) Realizar una operación de suma de números complejos

In [13]:
a = 5 + 5j
b = 2 + 2j
print(a+b)

(7+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
c = a + 2.5
print(c)

9.25

13) Realizar una operación de multiplicación

In [16]:
print(9*3)

27

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [14]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [13]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [12]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [11]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [10]:
var1 = "Buenos "
var2 = "Aires"
print(var1 + var2)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [9]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [8]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [7]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

In [14]:
a = float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [6]:
a = -3
a -= 1
print(a)

-4

In [16]:
a = -3
a = a - 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [17]:
1 << 2 # binario: 1= 0001, si lo corremos hacia la izquierda => 0100 = 2**2 * 1 = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [4]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
a = 2 # entero
b = "2" # str
a + b # al concatenarlos no se puede porque son de diferente tipos de datos

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
a = 2 
b = int("2")  # convertimos al str a int
a + b
print(a + b)
print(type(a + b))

4
<class 'int'>

In [23]:
a = str(2) # convertimos al int a str
b = "2"  
a + b
print(a + b)
print(type(a + b))

22
<class 'str'>

26) Realizar una operación válida entre valores de tipo entero y string

In [3]:
var1 = "este texto se repite "
var2 = 3
print(var1 * var2 + str(var2) + " veces")

este texto se repite este texto se repite este texto se repite 3 veces

In [26]:
var1 = "este texto se repite "
var2 = 3

print(var1 * var2 + str(var2) + " veces") # Multiplicamos

este texto se repite este texto se repite este texto se repite 3 veces

In [25]:
var1 = "este texto se repite "
var2 = 3

print(var1 * var2)

este texto se repite este texto se repite este texto se repite

In [28]:
var1 + str(var2) + " veces" # Concatenamos

'este texto se repite 3 veces'

In [31]:
var1 = "este texto se repite "
var2 = 3

print(f" {var1} {var2} veces")

 este texto se repite  3 veces

In [32]:
var1 = "este texto se repite "
var2 = 3
print("{} {} veces".format(var1,var2))

este texto se repite  3 veces